ul#testsuite-menu{
  clear: both;
  height: 1em;
  padding: 0;
  margin: 0 0 inherit 0;
  list-style-type: none;
}
ul#testsuite-menu li{
  float: left;
  width: 150px;
  height: 100%;
  padding: 0;
  margin: 0 -1px 0 0;
  border: 1px solid #333;
}
ul#testsuite-menu li a{
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: #036;
  color: #fff;
}
ul#testsuite-menu li a:hover {
  background-color: #369;
}

