*{
  clear: both;
}

ul.tabhead{
  margin:0;
  padding:0;
}

ul.tabhead li{
  list-style-type: none;
  float: left;
  clear: none;
  border: 1px solid #333;
  padding: 0;
  margin: 0;
}

ul.tabhead li a{
  display: block;
  padding: 1em;
  /*width: 100%;*/
  height: 100%;
}

div.tab{
  border: 1px solid #333;
  display: none;
}
div.current{
  display: block;
}
a.current{
  background-color: #fc6;
}
